// $font-open: 'Open Sans', sans-serif;
// $font-mont: 'Montserrat', sans-serif;
$font-light: 'Montserrat', sans-serif;
$font-strong: 'Fjalla One', sans-serif;
$font-cursive: 'Lobster', cursive;

$primary-color: #fff;
$secondary-color: #FED700;
$transparent: rgba(255, 255, 255, 0);
$link-hover-color: rgb(207, 207, 207);
$form-bg-color: #2E2E2E;
$hover-button-color: #303030;
$footer-bg-color: #151515;
$regular-text-color: #000;
$tours-sorting: #595959;
$sorting-options-bg: #f4f4f4;
$rate: #8a8888;

$page-width: 1200px;
$first-break-point: 900px;
$form-break-point: 785px;
$second-break-point: 700px;
$third-break-point: 600px;
