@import 'normalizer';
@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Lobster&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap&subset=latin-ext');

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-light;
    font-size: 16px;
    color: $primary-color;
    background-color: rgb(136, 136, 136);
}

// .container {
//     max-width: 1170px;
//     width: 100%;
//     margin: 0 auto;
//     padding: 0 15px;
// }
