@import '../../styles/variables';


    .tour-details {
        display: flex;
        color: $regular-text-color;
        margin-bottom: 40px;
        .photo {
            width: 200%;
            overflow: hidden; 
            img {
                max-width: 100%;
                margin:-29.875% 0;
            }
        }
        .tour-text {
            margin-left: 20px;
            h2 {
                margin: 0;
                a {
                    text-decoration: none;
                    color: $regular-text-color;
                    transition: .5s all;
                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
            .rating {
                color: $rate;
            }
            hr {
                border-color: $link-hover-color;
            }
            .price {
                span {
                    color: $secondary-color;
                    font-weight: 700;
                    font-size: 24px;
                    &.old-price {
                        font-size: 18px;
                        text-decoration: line-through;
                    }
                }
            }
            .other-info {
                background-color: $secondary-color;
                padding: 20px;
                display: flex;
                align-items: center;
                p {
                    margin: 0;
                }
                img {
                    padding-right: 10px;
                    &:nth-child(n+2){
                        padding-left: 10px;
                    }
                }
            }
        }
    }
