@import '../../styles/variables';

@mixin nav {
    .logo {
        width: 7%;
        display: block;
        position: absolute;
        img {
            max-height: 100%;
            max-width: 100%;
        }
    }
    ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
        a {
            text-decoration: none;
            color: $primary-color;
            font-weight: 600;
            margin: 0 40px 0 0;
            &:hover {
                color: $secondary-color;
            }
            &:last-child {
                margin: 0;
            }
            li {
            }
        }
       hr {
           display: none;
           transition: .5s all;
       }
    }
}

@mixin cross {
    &:nth-child(1) {
        top: -50px;
        left: 0px;  
    }
    &:nth-child(2) {
        bottom: 0;
        transform: rotate(45deg);
        left: 0px;
    }
    &:nth-child(3) {
        bottom: 7px;
        left: 0px;
        transform: rotate(-45deg);
    }
}

@mixin scale {
    @media screen and (max-width: $first-break-point) {
        display: block;
        padding: 20px 20px 5px 20px;
        &.scrolled {
            transition: 5s all;
            .logo {
                position: absolute;
                left: 75px;
                padding: 0;
                width: 85px;
                &.background{
                    transform: translateY(-5px);
                    background-color: $secondary-color;
                    padding: 5px;
                    left: 70px;
                }
                img {
                    width: 75px;
                }
            }
            hr {
                &:last-child {
                    display:none;
                }
            }
        }
        .logo {
            width: 75px;
            position: absolute;
            left: 75px;
            background-color: transparent;
            img {
                width: 175px;
            }
        }
        .burger {
            height: 20px;
            width: 30px;
            border: none;
            background-color: transparent;
            position: relative;
            cursor: pointer;
            &.alternative {
                span {
                    display: block;
                    height: 3px;
                    width: 100%;
                    background-color: #000;
                    position: absolute;
                    @include cross;
                }
            }
            &.noscroll {
                span {
                    display: block;
                    height: 3px;
                    width: 100%;
                    background-color: $primary-color;
                    position: absolute;
                    @include cross;
                }
            }
            span {
                display: block;
                height: 3px;
                width: 100%;
                background-color: $primary-color;
                position: absolute;
                &:nth-child(1) {
                    top: 0px;
                    left: 0px;
                    transition: .5s all;
                }
                &:nth-child(2) {
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0px;
                    transition: .5s all;
                }
                &:nth-child(3) {
                    bottom: 0px;
                    left: 0px;
                    transition: .5s all;
                }
            }
        }
        ul {
            margin: 10px 0 0 0;
            display: block;
            a {
                margin: 0;
                li {
                    padding: 10px 0 ;
                }
            }
            hr {
                display: block;
                margin: 0;
            }
        }
    }
}

nav {
    display: flex;
    padding: 20px;
    width: 100%;
    align-items: center;
    @include nav;
    @include scale;
    position: relative;
    .closed {
        position: absolute;
        left: -600px;
        transition: .5s all;
        &.opened{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: $primary-color;
            height: 100%;
            z-index:-1;
        }
    }
    &.scrolled {
        display: flex;
        align-items: center;
        position: fixed;
        width: 100%;
        padding: 20px;
        // background-color: $primary-color;
        transition: .5s all;
        top:0;
        left:0;
        z-index: 3;
        @include nav; 
        .logo {
            background-color: $secondary-color;
            padding: 5px;
        }
        ul {
            // background-color: $primary-color;
            a {
                color:black;
            }
            li {
                
            }
        }
        @include scale;
    }
}

.menu{
    position: absolute;
    left: -400px;
    transition: 1s all;
    visibility: hidden;
    &.open {
        position: static;
        left: 20px;
        visibility: visible;
        
    }
}
