@import '../../styles/variables';


#tour {
    background: url('../../pages/tours/img/cubancar.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;

// .top {
//     position: relative;
// }
    .tour {
        position: absolute;
        top: 100vh;
        width: 100%;
        // padding: 50px 0;
        // padding-top: 50px;
        
        background-color: $primary-color;
        .info-frame {
            color: $tours-sorting;
            width: 100%;
            background-color: $sorting-options-bg;
            .information {
                width: $page-width;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                .info-element {
                    display: flex;
                    align-items: center;
                    padding: 22px;
                    justify-content: center;
    
                    p {
                        margin: 0 0 0 10px;
                        font-weight: 500;
                        
                    }
                    &:first-child {
                        background-color: $primary-color;
                        width: 20%;
                    }
                    &:nth-child(2) {
                        width: 20%;
                        border-right: 1px solid $link-hover-color;
                    }
                    &:nth-child(3) {
                        width: 20%;
                        border-right: 1px solid $link-hover-color;
                    }
                    &:nth-child(4) {
                        width: 20%;
                        border-right: 1px solid $link-hover-color;
                    }
                    &:nth-child(5) {
                        width: 20%;
                    }
                } 
            }
        }
        .more {
            width: $page-width;
            margin: 0 auto;
            padding: 50px 0 0 0;
            display: flex;
            .book {
                color: $regular-text-color;
                // border: 1px solid black;
                margin-left: 30px;
                margin-bottom: 50px;
                width: 25%;
                background-color: $sorting-options-bg;
                padding-bottom: 1px;
                    h2 {
                        margin: 0;
                        text-align: center;
                        padding: 20px 0 10px 0;
                    }
                    input {
                        display:block;
                        padding: 15px;
                        margin: 10px 25px;
                        &:nth-child(6) {
                            color: $input-placeholder-color;
                            width: 244px;
                            height: 52px;
                        }
                        &:focus {
                            outline: none;
                        }
                    }
                    textarea {
                        display:block;
                        padding: 15px 30px 15px 15px;
                        margin: 10px 25px;
                        resize: none;
                        &:focus {
                            outline: none;
                        }
                    }
                
                    .availability {
                        background-color: $primary-color;
                        margin: 10px 8.5%;
                        padding: 20px;
                        text-align: center;
                        cursor: pointer;
                        font-size: 20px;
                        text-transform: uppercase;
                        font-weight: 700;
                        transition: .5s all;
                        &:hover {
                            background-color: $secondary-color;
                        }
                    }
                    .book-now {
                        background-color: $secondary-color;
                        margin: 10px 8.5%;
                        padding: 20px;
                        text-align: center;
                        cursor: pointer;
                        font-size: 20px;
                        text-transform: uppercase;
                        font-weight: 700;
                        transition: .5s all;
                        &:hover {
                            background-color: $hover-button-color;
                            color: $primary-color;
                            cursor: not-allowed;
                        }
                    }
                    img {
                        background-color: $primary-color;
                    padding-top: 50px;
                    max-width: 100%;
                    }
            }
        }

    }    

}

